<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

<div id="div-todopoderoso" class="container-fluid">

  <div class="gif-container">
    <img [@doSlide]="leftGifMovement" *ngIf="leftGifVisible" src="assets/images/buvolando.gif" alt="left" class="position-fixed left-gif">
    <img [@doSlide]="rightGifMovement" *ngIf="rightGifVisible" src="assets/images/buvolando2.gif" alt="right" class="position-fixed right-gif">
  </div>

  <div class="row justify-content-around">
    <div class="col-2 vertical-align-btn">
      <button (click)="changeSlide(true)" type="button" class="btn btn-secondary btn-lg btn-slide-left">
        <i class="material-icons">
          keyboard_arrow_left
        </i>
      </button>
    </div>

    <div class="col-4 vertical-align-slide">

      <div class="btn-move-up text-center">
          <img src="assets/images/up.gif" alt="up" class="gif-up">
      </div>

      <div [@doSlide]="moveDirection" class="card">
        <img src="{{ activeSlide.image }}" class="card-img-top" alt="TEST" />
        <div class="card-body">
          <h5 class="card-title">{{ activeSlide.title }}</h5>
          <p class="card-text">{{ activeSlide.text }}</p>
        </div>
      </div>

      <div class="btn-move-down text-center">
        <img src="assets/images/down.gif" alt="down" class="gif-down">
      </div>
    </div>

    <div class="col-2 vertical-align-btn">
      <button (click)="changeSlide(false)" type="button" class="btn btn-secondary btn-slide-right btn-lg">
        <i class="material-icons">
          keyboard_arrow_right
        </i>
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
